<!-- extended javascript -->
<!DOCTYPE html>
<html>
    <head>
        <title>Projeto 3</title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th width="50px">No</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Local</th>
            <th>Low Carb</th>
            <th>Vegano</th>
            <th>Vegetariano</th>
            <th>Sem Glútem</th>
            <th>Sem Lactose</th>
            <th>Crossfit</th>
            <th>Coletivo</th>
            <th>Aventura</th>
            <th>Luta</th>
            <th>Yoga</th>
            <th>Action</th>
        </tr>
                       
        <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>
         
        <tr>
            <td><%=(i+1)%></td>
            <td><%=data[i].nome%></td>
            <td><%=data[i].descricao%></td>
            <td><%=data[i].data%></td>
            <td><%=data[i].local%></td>
            <td><%=data[i].lowcarb%></td>
            <td><%=data[i].vegano%></td>
            <td><%=data[i].vegetariano%></td>
            <td><%=data[i].semglutem%></td>
            <td><%=data[i].semlactose%></td>
            <td><%=data[i].crossfit%></td>
            <td><%=data[i].coletivo%></td>
            <td><%=data[i].aventura%></td>
            <td><%=data[i].luta%></td>
            <td><%=data[i].yoga%></td>
            <td>
                <a class="a-inside edit" href="/api/criar/<%=data[i].evento_id%>">Edit</a>
               
                <a class="a-inside delete" href="javascript:void(0)" onClick="deleteEvento(<%=data[i].evento_id%>)">Delete</a>
               
            </td>
        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="5">No Data</td>
         </tr>
    <% } %>
                                      
    </table>
</div>
<div class="page-data">
    
    <form method="post" action="" id="the-form">
        <table cellpadding="11">
        <tr>
            <td class="label">Nome</td><td>: <input type="text" name="nome"></td>
         </tr>
        <tr>
            <td class="label">Descrição</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr><td class="label">Data</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr><td class="label">Local</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr><td class="label">LowCarb</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr><td class="label">Vegano</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr><td class="label">Vegetariano</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr><td class="label">Sem Glútem</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr><td class="label">Sem Lactose</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr><td class="label">Crossfit</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr><td class="label">Coletivo</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr><td class="label">Aventura</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr><td class="label">Luta</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr><td class="label">Yoga</td><td>: <input type="text" name="name"></td>
         </tr>
        <tr>
            <td class="label"></td>
            <td>
                &nbsp; <input type="button" value="Save" onClick="saveEvento()">
            </td>
         </tr>
        </table>
    </form>
</div>
<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>

    function saveEvento(){
       
       $.ajax({
        
        url:"/api/criar",
        type:"post",
        data:$("#the-form").serialize(),
        success:function(res){
            
            window.location.reload();
            return false;
        },
        error:function(xhr, status, error){
            
            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {
               
                 err +='<li>'+item.msg+'</li>';
            });
            $(".err-area").html(err);    
            return false;
        }
        
       });
    }
    
    function deleteEvento(evento_id){
    
        $.ajax({
            url:"/api/criar/"+evento_id,
            type: 'DELETE',
            success: function(res) {
                
                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){
            
                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }

</script>
</body>
</html>
